:root {
    --button-bg-white: white;
    --red-wrong: rgb(208, 65, 65);
    --green-right: rgb(63, 207, 52);
    --green-light: rgb(52, 226, 38);
}

button {
    font-family: 'Segoe Script';
    font-size: 3rem;
    border: 8px outset var(--button-bg-white);
    background-color: var(--button-bg-white);
}

.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    margin: 2rem 0;
}

.button-container {
    height: 100%;
    border: 1px solid black;
}

.height-100 {
    height: 150px;
}

.img-container {
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
}

.img-fit {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.img-container:hover:active {
    border: 8px inset var(--button-bg-grey);
}

.wrong-choice {
    border: 8px solid var(--red-wrong);
    border-style: outset;
}

.right-choice {
    border: 8px solid var(--green-right);
    border-style: outset;
}

.button-selected {
    border: 8px solid var(--button-bg-grey);
    border-style: inset;
}

.large-green-button {
    height: 100%;
    aspect-ratio: 3/1;
    border-style: outset;
}

.large-green-button:active {
    border-style: inset;
}

.hidden {
    visibility: hidden;
}

.red-text {
    color: rgb(163, 0, 0)
}