:root {
    --button-bg-white: white;
    --button-bg-grey: grey;
    --red-wrong: rgb(208, 65, 65);
    --green-right: rgb(63, 207, 52);
}

.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

button {
    padding: 0;
    border: 1px solid black;
    background-color: var(--button-bg-white);
}

button img {
    display: block;
    width: 100%;
    height: 100%;
    border: 8px solid white;
    border-style: outset;
    background-color: var(--button-bg-white);
}

button img:hover:active {
    border: 8px solid var(--button-bg-grey);
    border-style: inset;
}

.just-even {
    justify-content: space-evenly;
}

.button-100 {
    height: 100px;
    width: 100px;
}

.button-200 
{
    height: 200px;
    width: 200px;
}

.img-fit {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.wrong-choice {
    border: 8px solid var(--red-wrong);
    border-style: outset;
}

.right-choice {
    border: 8px solid var(--green-right);
    border-style: outset;
}

.button-selected {
    border: 8px solid var(--button-bg-grey);
    border-style: inset;
}