* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-bg-white: white;
    --button-bg-grey: grey;
    --red-wrong: rgb(208, 65, 65);
    --green-right: rgb(63, 207, 52);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
    min-height: 1200px;
}

#master-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-container {
    height: 100%;
}

.flex-container {
    display: flex;
}

.flex-item {
    height: 200px;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}