@model (string ImageURL, string AltText)

<div class="button-container">
    <button class="img-container">
        <img class="button-image" src="@Model.ImageURL" alt="@Model.AltText" />
    </button>
</div>

