@{
    ViewData["Title"] = "Jeux des émotions";
}

@section Styles {
    <link rel="stylesheet" href="~/css/emotions.css" />
}

@section Scripts {
    <script src="~/js/emotionsSelect.js"></script>
}

<div class="flex-container flex-column">
    <h1 class="display-4 p-4">Choisissez le nombre d'émotion a reconnaître</h1>
    <div id="numberOfPhotoToRecognize" class="choice-container">
        <div class="button-container">
            <button class="img-container number-button" value="5">
                5
            </button>
        </div>
        <div class="button-container">
            <button class="img-container number-button" value="10">
10            </button>
        </div>
        <div class="button-container">
            <button class="img-container number-button" value="15">
15            </button>
        </div>
    </div>
    <h1 class="display-4 p-4">Choisissez les émotions a reconnaître</h1>
    <div id="emotionsToRecognize" class="choice-container">
        <div class="button-container">
            <button class="img-container emotion-button" data-selected="false" value="joy">
                <img class="img-fit" src="~/images/emotions/Joy.jpg" alt="Joie" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container emotion-button" data-selected="false" value="sadness">
                <img class="img-fit" src="~/images/emotions/Sadness.jpg" alt="Tristesse" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container emotion-button" data-selected="false" value="anger">
                <img class="img-fit" src="~/images/emotions/Anger.jpg" alt="Colère" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container emotion-button" data-selected="false" value="fear">
                <img class="img-fit" src="~/images/emotions/Fear.jpg" alt="Peur" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container emotion-button" data-selected="false" value="serenity">
                <img class="img-fit" src="~/images/emotions/Serenity.jpg" alt="Sérénité" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container emotion-button" data-selected="false" value="love">
                <img class="img-fit" src="~/images/emotions/Love.jpg" alt="Amour" />
            </button>
        </div>
    </div>

    <div class="choice-container">
        <form id="startGame" action="/Jeux/StartEmotionGame" method="post">
            <input type="hidden" name="NumberOfRounds" id="NumberOfRounds" />
            <input type="hidden" name="SelectedEmotions" id="SelectedEmotions" value="SelectedEmotions" />
        <div class="button-container">
            <button type="button" id="start-button" class="large-green-button">Commencer</button>
        </div>
        </form>
    </div>
    <div id="error-message" class="hidden text-center red-text"></div>
</div>
