@{
    ViewData["Title"] = "Émotions";
}

@section Styles {
    <link rel="stylesheet" href="~/css/emotions.css" />
}

@section Scripts {
    <script src="~/js/emotions.js"></script>
}

<div class="flex-container flex-column text-center height100">
    <h1 class="display-4">Emotions</h1>
    <div class="flex-item choice-container">
    </div>
    <div class="flex-item choice-container"><h3>Choisis une emotion.</h3></div>
    <div class="flex-item choice-container">
        <div class="button-container">
            <button class="img-container">
                <img class="button-image" src="~/images/emotions/Love.jpg" alt="Alternate Text" />
            </button>
        </div>
    </div>
</div>
