@{
    ViewData["Title"] = "Jeux des émotions";
}

@section Styles {
    <link rel="stylesheet" href="~/css/emotions.css" />
}

@section Scripts {
    <script src="~/js/emotionsSelect.js"></script>
}

<div class="flex-container flex-column height100">
    <h1 class="display-4 p-4">Choisissez le nombre d'émotion a reconnaître</h1>
    <div id="numberOfPhotoToRecognize" class="choice-container">
        <div class="button-container">
            <button class="img-container number-button">
                <img class="button-image" src="~/images/numbers/number_5.png" alt="Number 5" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container number-button">
                <img class="button-image" src="~/images/numbers/number_10.png" alt="Number 10" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container number-button">
                <img class="button-image" src="~/images/numbers/number_15.png" alt="Number 15" />
            </button>
        </div>
    </div>
    <h1 class="display-4 p-4">Choisissez les émotions a reconnaître</h1>
    <div id="emotionsToRecognize" class="choice-container">
        <div class="button-container">
            <button class="img-container emotion-button">
                <img class="button-image" src="~/images/emotions/Joy.jpg" alt="Joie" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container emotion-button">
                <img class="button-image" src="~/images/emotions/Sadness.jpg" alt="Sadness" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container emotion-button">
                <img class="button-image" src="~/images/emotions/Anger.jpg" alt="Anger" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container emotion-button">
                <img class="button-image" src="~/images/emotions/Fear.jpg" alt="Fear" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container emotion-button">
                <img class="button-image" src="~/images/emotions/Serenity.jpg" alt="Serenity" />
            </button>
        </div>
        <div class="button-container">
            <button class="img-container emotion-button">
                <img class="button-image" src="~/images/emotions/Love.jpg" alt="Love" />
            </button>
        </div>
</div>

    <div class="choice-container">
        <button class="large-green-button"><img id="start-button" src="#" alt="Start" /></button>
    </div>
