

<div style="height: 200px; width: 200px">
    <img src="~/images/test/Test_1.png" alt="Alternate Text" />
    <style>
        div {
            overflow: hidden;
        }
        img {
            height: 200%;
            width: 200%;
            transform: translateX(-50%);
        }
    </style>
</div>